/*
html5doctor.com Reset Stylesheet
v1.6.1
*/

// css 103行目から

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

// css ここから

$back_ground: whitesmoke;
$bule: lightseagreen;
$orange: orange;
$link: #222423;
$link_hover: #424443;
$contact: gray;
$focas: black;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 1024px;

@mixin centerize {
  display: flex;
  justify-content: center;
  align-items: center;
}

// header font-sizeの調整
@function get_vw($size,$viewport:320){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

html{
  scroll-behavior: smooth;
}
/* 背景 css */
.orange{
  padding: 16px 0;
  position: relative;
  overflow: hidden;
}
.orange::after{
  content: "";
  display: inline-block;
  position: absolute;
  background-color: $orange;
  transform: rotate(1deg);
  width: 105%;
  left: -8px;
  z-index: -1;
}
.blue{
  padding: 16px 8px;
  position: relative;
  overflow: hidden;
}
.blue::after{
  content: "";
  display: inline-block;
  position: absolute;
  background-color: $bule;
  transform: rotate(-1deg);
  width: 105%;
  left: -8px;
  z-index: -2;
}
.name-bg::after{
  top: 8px;
  height: 91%;
}
.about-bg::after{
  top: 8px;
  height: 92%;
}
.skill-bg::after{
  top: 16px;
  height: 93%;
}
.career-bg-1::after{
  top: 16px;
  height: 87%;
}
.career-bg-2::after{
  top: 16px;
  height: 87%;
}
.contact-bg::after{
  top: 16px;
  height: 92%;
}
/* animation */
.slide-left-on{
  animation: fadeIn 1s forwards,
  slideIn-left 0.5s;
}
.slide-right-on{
  animation: fadeIn 1s forwards,
  slideIn-right 0.5s;
}
.fadeIn-on{
  animation: fadeIn 1s forwards;
}

body{
  background: $back_ground;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  letter-spacing: 2px;
}
#main{
  margin: 0 10%;
  letter-spacing: 3px;
  line-height: 32px;
}
h2{
  position: relative;
  font-size: 24px;
  margin-bottom: 24px;
  display: inline-block;
  &:after{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
    content: "";
    display: block;
    height: 8px;
    width: 100%;
    background-color: $orange;
    transform: rotate(1deg);
  }
}
h3{
  font-size: 16px;
}
section{
  padding-bottom: 40px;
}
a{
  text-decoration: none;
  color: $back_ground;
  &:hover{
    opacity: 0.8;
  }
}
.fixed{
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}
.hide{
  display: none;
}
.margin-top{
  margin-top: 80px !important;
}

/* header */
header{
  @include centerize;
  background: $bule;
  height: 360px;
  width: 100%;
  div{
    @include centerize;
    width: 100%;
  }
}
h1{
  @include fz_vw(72);
  font-weight: 900;
  color: rgba(0,0,0,0);
  background-image: url(image/main-v.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  animation: fadeIn 2s;
}
/* nav */
#nav{
  background-color: $back_ground;
  height: 58px;
  margin-bottom: 24px;
  ul{
    display: flex;
    height: 100%;
    list-style: none;
  }
  li{
    flex-grow: 1;
    text-align: center;
    letter-spacing: 1px;
    img{
      height: 24px;
      width: auto;
      // filter で png を白く
      filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    }
    a{
      padding: 8px 0;
      box-sizing: border-box;
      background: $link;
      display: block;
      text-decoration: none;
      color: $back_ground;
      background-color: $link;
    }
  }
}

/* profile */
#profile{
  align-items: center;
  font-weight: bold;
}
#profile-top{
  width: 100%;
  flex-direction: column;
  margin-bottom: 32px;
  box-sizing: border-box;
}
// profile-name
#profile-name{
  position: relative;
  p{
    font-size: 14px;
    text-align: left;
  }
  li{
    list-style: none;
    font-size: 14px;
    text-indent: 2em;
  }
}
/* profile-img */
#profile-img{
  position: absolute;
  width: 45%;
  top: 16px;
  left: 52%;
  img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-bottom: 24px;
  }
}
/* profile-about */
#profile-about {
  div{
    margin-bottom: 32px;
  }
  p{
   font-size: 14px;
   word-wrap: normal;
   text-indent: -1em;
   padding-left: 1em;
   letter-spacing: 1px;
  }
}

/* skill */
#skill{
  font-weight: bold;
  img{
    width: 80%;
    height: auto;
    background-color: $back_ground;
  }
}
.skill-item{
  text-align: center;
  letter-spacing: 1px;
  width: 100px;
}
#skillbox{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 16px;
  flex-grow: 1;
}

/* career */
#career{
  font-weight: bold;
  h4{
    padding-left: 1em;
  }
  p{
    padding-left: 2em;
    font-size: 14px;
    letter-spacing: 1px;
    text-indent: -1em;
  }
}
.indent{
  padding-left: 0;
}
.career-item{
  box-sizing: border-box;
  padding: 24px 8px;
}

/* work */
.card-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.card{
  position: relative;
  width: 100%;
  height: 600px;
  flex-direction: column;
  border: 1px solid #000;
  p{
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 5%;
  }
}
.scroll{
  height: 294px;
  overflow-y: scroll;
  border-bottom: 1px solid #000;
  img{
    width: 100%;
  }
}
.card-link{
  height: 80px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: $back_ground;
  img{
    width: 10%;
  }
  .link-bg{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 24px;
    background-color: $link;
    margin: 0 auto;
    padding-bottom: 4px;
  }
}

/* contact */
#form-box{
  padding-top: 44px;
  padding-bottom: 36px;
}
#contact{
  font-weight: bold;
  input{
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid $contact;
    border-radius: 5px;
    padding: 4px;
    box-sizing: border-box;
    &:focus{
      outline: 0;
      border: 1px solid $focas;
      border-radius: 5px;
    }
  }
  button{
    @extend input;
    &:hover{
      background-color: $link_hover;
      color: $back_ground;
    }
  }
}
textarea{
  width: 100%;
  border: 1px solid $contact;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  &:focus{
    outline: 0;
    border: 1px solid $focas;
    border-radius: 5px;
  }
}
#confirm,#thxMessage{
  text-align: center;
  height: 350px;
  padding: 80px 10%;
  box-sizing: border-box;
}
.error{
  color: red;
}

/* footer */
footer{
  margin-top: 32px;
  background: $bule;
  height: 48px;
  font-size: 14px;
  color: $back_ground;
  text-align: center;
}
#foot-link{
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
  a{
    color: $back_ground;
    &:hover{
      color: $link;
    }
  }
  img{
    width: 20px;
    height: auto;
    vertical-align: bottom;
  }
}
small{
  font-size: 12px;
}

.flame{
  position: relative;
  margin: 20px auto;
  width: 60%;
  height: 320px;
  border: 1px solid #000;
  box-sizing: border-box;
  form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 34px;
  }
  a{
    color: $link;
  }
}

/* アニメーション */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn-left {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slideIn-right {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0);
  }
}

/* media query */
@media screen and (min-width: $breakpoint-mobile){
  h1{
    @include fz_vw(56);
  }
  #profile{
    h3{
      margin-left: 8%;
    }
    li{
      margin-left: 10%;
      font-size: 16px;
    }
    img{
    width: 80%;
    max-width: 200px;
    }
  }
  #profile-img{
    left: 60%;
  }
  #profile-top{
    height: 304px;
    p{
      margin-left: 10%;
      font-size: 18px;
    }
  }
  #profile-about p{
    margin-left: 2%;
    font-size: 16px;
  }
  .name-bg::after{
    top: 8px;
    height: 94%;
  }
  #skill .container{
  display: flex;
  flex-grow: 1;
  padding-bottom: 24px;
  }
  .skill-bg::after{
  top: 16px;
  height: 91%;
  }
  #career{
    li{
      list-style: none;
      margin-left: 2%;
    }
    p{
      margin-left: 2%;
    }
  }
  #work{
    .card{
      width: 49%;
    }
    .scroll{
      a{
        opacity: 1;
      }
    }
    .card-link{
      height: 72px;
    }
  }
  form{
    width: 80%;
    margin-left: 10%;
  }
  #foot-link a{
    font-size: 110%;
  }
}
@media screen and (min-width: $breakpoint-tablet){
  h1{
    @include fz_vw(40);
  }
  #profile{
    img{
      position: absolute;
      top: 16px;
      max-width: 250px;
    }
  }
  #profile-top{
    height: 368px;
  }
  #profile-name{
    position: relative;
    top: 16px;
    height: 368px;
    line-height: 36px;
    h3{
      font-size: 24px;
    }
    li{
      font-size: 18px;
    }
  }
  .about-bg{
    padding: 24px;
    &::after{
      height: 86%;
    }
  }
  .skill-bg::after{
    height: 82%;
  }
  #career{
    h3{
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
  }
  .career-bg-1{
    padding-top: 20px;
    padding-left: 20px;
  }
  .career-bg-2{
    padding-top: 32px;
    padding-left: 20px;
  }
  #work{
    .card-link{
      height: 96px;
    }
  }
}
